.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: cartItemAppearance ease-out .3s;
    width: 100%;

    &__Itemdelete {
        opacity: 0;
        transform: translateY(-50px);
        pointer-events: none;
    }

    @keyframes cartItemAppearance {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 2;
            transform: translateY(0);
        }
    }

    &__name {
        display: flex;
        flex-direction: column;

        &__title {
            display: flex;
            align-items: center;
            font-weight: 500;
            color: #fff;
            line-height: 1.24;
            font-size: 1.2rem;
            margin: 0;
            gap: 5px;
        }

        &__description {
            font-size: 1rem;
            color: rgba(173, 181, 189, 0.75);
            line-height: 1.25;
            margin: 0;
        }

        &Wrapper {
            display: flex;
            gap: 10px;
        }
    }

    &__price {
        color: rgba(173, 181, 189, 0.75);
        line-height: 1.25;
        font-size: 1.1rem;
    }

    &__count {
        display: inline-flex;
        border-radius: 50rem;
        background-color: rgb(244, 37, 75);
        color: #fff;
        padding: 1px 6px;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
    }

    &__delete {
        height: 80%;
        width: 90%;
        background-color: rgba(245, 21, 62, 0.9);
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        border-radius: 0 5px 5px 0;
        transition: all .35s linear;
        margin-left: 20%;
        border: none;
        text-transform: uppercase;

        &:hover {
            background-color: rgba(245, 21, 62, .7);
        }

        &:focus {
            outline: none;
        }
    }

    &Wrapper {
        display: grid;
        grid-template-columns: 100% 20%;
        align-items: center;
        transition: .3s ease-out all;

        &:hover {
            grid-template-columns: 75% 15%;
            gap: 15px;

            .cart__item__delete {
                margin-left: 0;
                margin-right: 100px;
            }
        }
    }

    &__increase_and_shrink {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__increase,
    &__shrink {
        cursor: pointer;
        transition: .25s linear all;

        &:hover {
            color: rgb(255, 73, 106);
        }
    }
}