.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: cartItemAppearance ease-out .3s;

    @keyframes cartItemAppearance {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 2;
            transform: translateY(0);
        }
    }

    &__name {
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: 500;
            color: #fff;
            line-height: 1.24;
            font-size: 1.2rem;
            margin: 0;
        }

        &__description {
            font-size: 1rem;
            color: rgba(173, 181, 189, 0.75);
            line-height: 1.25;
            margin: 0;
        }
    }

    &__price {
        color: rgba(173, 181, 189, 0.75);
        line-height: 1.25;
        font-size: 1.1rem;
    }
}