.welcome_block_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;

    .welcome_block_caption {
        color: rgba(255, 73, 106, 1);
        text-transform: uppercase;
        font-size: 25px;
        margin: 0;
    }

    .welcome_block_desc {
        color: #fff;
        font-size: 30px;
        width: 60%;
        text-align: center;

        @media (max-width: 900px) {
            width: 95%;
            font-size: 20px;
        }

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    @media (max-width: 1200px) and (min-width: 500px) {
        margin-top: 0;
    }
}