body {
    background-color: #020202;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    overflow-x: hidden;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}