.footer {
    display: flex;
    flex-direction: column;
    background: rgba(2, 2, 2, 1);
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    transition: .3s linear opacity;
}

.footer_wrapper {
    width: 100vw;

    @media (min-width: 600px) {
        position: relative;
        right: 10px;
    }

    @-moz-document url-prefix() {
        @media (min-width: 600px) {
            right: 0;
        }
    }
}