.header_icons {
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: 20px;

    .header_icons__icon {
        cursor: pointer;
        transition: .3s linear all;
        color: #fff;

        &:hover {
            color: rgb(255, 255, 255);
            text-shadow: 3px 3px 30px #fff;
        }
    }
}