.widget_item {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:active {
        pointer-events: none;
    }


    .item_image {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        &:hover {
            img {
                transform: translateY(-20%);
            }

            .item_add {
                transform: translateY(-100%);
            }
        }

        img {
            width: 100%;
            height: 100%;
            transition: transform linear .3s;
            cursor: pointer;
            object-fit: cover;

            &:hover {
                transform: translateY(-20%);
            }
        }

        .item_add {
            transition: all linear .3s;
            cursor: pointer;
            background-color: #FF496A;
            border: none;
            transform: translateY(150%);
            color: #fff;

            &:hover {
                background-color: #ff496a8c;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .item_desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;

        .item_caption {
            font-size: 20px;
            transition: color .3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: #FF496A;
            }
        }

        .item_price {
            font-size: 16px;
            transition: color .3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: #FF496A;
            }
        }
    }
}

.ourNewArrivals_widgetItem:active {
    pointer-events: all;
}

.BestSellersWidget_item__mobile {
    pointer-events: none;

    .item_image {

        img {
            transform: translateY(-20%);
        }

        .item_add {
            transform: translateY(-100%);
            pointer-events: all;
        }
    }
}