.navbar {
    display: flex;
    align-items: center;
    gap: 10%;
    white-space: nowrap;

    @media (max-width: 1200px) {
        gap: 5%;
    }

    @media (max-width: 1100px) {
        display: none;
    }
}

.navbar__child_dropdown__text {
    display: flex;
    align-items: center;
    gap: 5%;

    i {
        cursor: pointer;
        font-size: 12px;
    }
}

.navbar__child {
    cursor: pointer;
    font-size: 25px;
    font-weight: 100;
    transition: .3s linear all;

    &:hover {
        text-shadow: 1px 1px 50px #fff;
    }
}

.navbar__child_hover {
    border: 2px solid #fff;
    border-radius: 50rem;
    padding: 1% 3%;
    font-size: 23px;
    transition: .3s all linear;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.navbar__child_dropdown_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}